/* 公共的样式 */

* {
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
}


/* 首页版心 */

.layer {
    width: 1200px;
    margin: 0 auto;
}


/* 清除浮动 */

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* 首页字体 */

body,
button,
input,
select,
textarea {
    -webkit-font-smoothing: antialiased;
    font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hevetica, \\5b8b\4f53, sans-serif;
    color: #555;
    word-break: break-all;
}

body,
html,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    outline: none;
    -webkit-font-smoothing: antialiased;
    /* 抗锯齿很好   */
    color: #666;
}

em,
i,
u {
    font-style: normal;
}

ul,
li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #f55;
}


/* 浮动 */

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.fn {
    float: none !important;
}


/* 字体大小 */

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}


/* 显示隐藏 */

.hide {
    display: none !important;
}

.show {
    display: block !important;
}


/* 清除浮动 */

.clear,
.clearfix {
    clear: both;
    content: '';
    display: block;
}


/* 对齐方式 */

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
    /* 两端对齐 */
}

.fred {
    color: red;
}

.layer {
    width: 1200px;
    margin: 0 auto;
}