/* //////////////第三个网页 */

.y-bg {
    max-width: 1920px;
    height: 380px;
    margin: 0 auto;
    background: #51BDFB;
}

.y-bg-box {
    width: 1200px;
    height: 380px;
    margin: 0 auto;
}

.y-bg-box a img {
    float: right;
}

.y-nav-son {
    width: 1200px;
    height: 140px;
    margin: 0 auto;
    border-bottom: 2px solid #DCDCDC;
    margin-top: 10px;
    margin-bottom: 20px;
}

.y-son-box1 {
    padding: 5px 0 5px 35px;
    float: left;
    font-family: "microsoft yahei";
    width: 1165px;
}

.y-label {
    height: 24px;
    line-height: 24px;
    margin-right: 30px;
    float: left;
    color: #333;
    font-size: 14px;
}

.y-quanbu {
    margin-right: 40px;
    padding: 0px;
    height: 24px;
    line-height: 24px;
    float: left;
}

.selected {
    border: 1px solid #ec5051;
}

.y-quanbu a {
    padding: 0 20px;
    display: block;
    font-size: 12px;
    color: #ec5051;
    font-weight: bold;
}

.y-list {
    float: none;
    overflow: hidden;
    width: auto;
    padding: -1px 0px 0 35px;
    float: right;
    font-family: "microsoft yahei";
    width: 987px;
    height: 36px;
}

.y-list li {
    text-align: center;
    height: 24px;
    line-height: 24px;
    border: 1px solid #fff;
    padding-left: 0;
    width: 70px;
    margin-right: 40px;
    margin-bottom: 10px;
    float: left;
}

.y-list li a {
    display: block;
    height: 24px;
    line-height: 24px;
    color: #3a78bf;
}

.y-list li>a:hover {
    color: red;
}

.header-max-nav ul li a {
    color: black;
}

.header-max-nav ul li:nth-child(3) a {
    color: red;
}

.header-max-nav ul li:nth-child(1) a {
    color: black!important;
}