@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff2') format('woff2'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.login-header {
    width: 100%;
    height: 130px;
    background-color: #fff;
}

.login-header .logo-header {
    width: 429px;
    height: 130px;
    line-height: 130px;
    /* text-align: center; */
}

.login-header .logo-header img {
    width: 159px;
    height: 57px;
}

.login-header .logo-header span {
    display: block;
    float: left;
    width: 258px;
    height: 70px;
    margin-left: 12px;
    margin-top: 35px;
    background: url(../images/login_logo_pic.png);
}

.login-header .loginright {
    width: 126px;
    height: 130px;
    line-height: 130px;
    font-size: 14px;
}

.login-header .loginright a {
    color: #f42424;
}

.login-header .loginright a:hover {
    text-decoration: underline;
}

.login .container {
    width: 100%;
    height: 530px;
    background: url(../images/login-banner.jpg);
}

.login .container .login-list {
    width: 350px;
    height: 420px;
    background-color: #fff;
    position: relative;
    margin-top: 55px;
}

.login .container .login-list .header-title {
    padding: 20px 40px 0;
}

.login-list .header-title .login-tit {
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: relative;
}

.header-title .login-tit span {
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 9px;
    z-index: 1;
    border-top: 1px dashed #e5e5e5;
}

.header-title .login-tit h3 {
    width: 163px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    padding: 0 15px;
    color: #8c8c8c;
    position: relative;
    z-index: 3;
    background-color: #fff;
}

.header-title .login-switch {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 52px;
    height: 52px;
}

.header-title .login-switch .font01 {
    font-size: 52px;
    color: #f42424;
    position: absolute;
    top: -18px;
}

.header-title .login-switch div {
    width: 0;
    height: 0;
    border-bottom: 52px solid #ffffff;
    border-right: 52px solid transparent;
    top: 0;
    position: absolute;
    cursor: pointer;
}

.header-title .login-third {
    height: 36px;
    text-align: center;
    margin-top: 20px;
    text-align: center;
}

.header-title .login-third a {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    background: url(../images/login-icon.png) no-repeat;
    background-position: 0 0;
}

.header-title .login-third a:hover {
    background-position: -39px 0;
}

.login-list .tit {
    margin-top: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: relative;
}

.login-list .tit h3 {
    font-size: 16px;
    color: #8c8c8c;
    padding: 0 15px;
    display: inline-block;
    position: relative;
    z-index: 2;
    background-color: #fff;
    font-weight: normal;
}

.login-list .tit span {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 9px;
    height: 1px;
    border-bottom: 1px dashed #e5e5e5;
}

.login-contain {
    width: 270px;
    margin: 0 auto;
}

.login-contain .arter {
    height: 25px;
    line-height: 25px;
    color: #f42424;
}

.login-contain .arter i {
    font-size: 12px;
    margin-right: 5px;
}

.login-contain .item {
    position: relative;
    width: 268px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #d2d2d2;
    margin-bottom: 10px;
}

.login-contain .item input {
    border: 0;
    width: 223px;
    height: 26px;
    padding: 5px 10px 4px 35px;
}

.login-contain .item i {
    position: absolute;
    color: #e8e8e8;
    left: 10px;
    top: 11px;
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 18px;
}

.login-contain .item-focus {
    border-color: #8c8c8c;
}

.login-contain .item-focus i {
    color: #d2d2d2;
}

.login-contain button {
    width: 270px;
    height: 40px;
    border: 0;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    outline: 0;
    background: #f42424;
    color: #fff;
    border-radius: 3px;
}

.login-contain .wang {
    color: #8c8c8c;
}

.login-contain .foot {
    margin-top: 5px;
}

.login-contain .wang:hover {
    color: #f42424;
}


/* 底部 */

.footer-bot {
    padding: 30px 0 20px;
    background-color: #f8f8f8;
}

.footer-bot .copyright_links {
    text-align: center;
    margin-bottom: 10px;
}

.footer-bot .copyright_links a {
    display: inline-block;
    /* color: #888; */
    color: rgba(85, 85, 85, .5);
}

.footer-bot .copyright_links span {
    /* margin: 0 17px; */
    width: 1px;
    height: 11px;
    background-color: rgba(85, 85, 85, .5);
    display: inline-block;
    /* color: rgba(85, 85, 85, .5); */
}

.footer-bot .copyright_auth {
    padding-top: 15px;
}


/* 鼠标盘旋变红 */

.footer-bot .copyright_links a:hover {
    color: #f42424 !important;
}